/* ==========================================================================
   1.NAVIGATION
   2.HEADER
   3.ABOUT
   6.FOOTER
   5.BOUNCE EFFECT
   ========================================================================== */

/* ==========================================================================
   1.NAVIGATION
   ========================================================================== */
.navbar-brand {
  color: black;
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 5px;
  width: auto;
}

.navbar-toggle .icon-bar {
    background-color: black;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
}

/* ==========================================================================
   2.HEADER
   ========================================================================== */
.jumbotron {
    /* add bootstrap jumbotron background image */
    background-image: url("../img/background.jpg");
    /* change bootstrap jumbotron text color */
    color: black;
    text-align: center;
    height: 500px;
}

/* ==========================================================================
   3.ABOUT
   ========================================================================== */
#About p {
  font-size: 18px;
}

.caption:hover{
  animation: bounce 1s;
}

a, a:hover, a:active, a:visited {
    text-decoration: none !important;
    color: black;
}

.thumbnail {
  box-shadow: 10px 10px 5px #888888;
}

/* ==========================================================================
   4.FOOTER
   ========================================================================== */
.footer {
  padding-top: 40px;
  padding-bottom: 20px;
}

/* ==========================================================================
   5.BOUNCE EFFECT
   ========================================================================== */
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
